# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [21]:
import numpy as np 
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import scale
import researchpy as rp
from scipy import stats
import matplotlib.pyplot as plt

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [6]:
pokemon = pd.read_csv('pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Let's start off by looking at the `head` function in the cell below.

In [7]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [9]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [24]:
pokemon.groupby('Legendary').agg({'Total' : 'mean'}).reset_index()

   Legendary       Total
0      False  417.213605
1       True  637.384615

In [23]:
pokemon.groupby('Legendary').agg({'Total' : 'std'}).reset_index()

   Legendary       Total
0      False  106.760417
1       True   60.937389

In [22]:
pokemon.groupby('Legendary')['Total'].describe()

           count        mean         std    min    25%    50%    75%    max
Legendary
False      735.0  417.213605  106.760417  180.0  324.0  425.0  498.0  700.0
True        65.0  637.384615   60.937389  580.0  580.0  600.0  680.0  780.0

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [25]:
sample_01 = pokemon.query('Legendary == True').reset_index(drop=True)
sample_02 = pokemon.query('Legendary == False').reset_index(drop=True)

In [27]:
sample_02 = sample_02.sample(65,random_state=42).reset_index(drop=True)
sample_01.shape, sample_02.shape

((65, 13), (65, 13))

In [66]:
stats.ttest_ind(sample_01['Total'], sample_02['Total'], equal_var = False)

Ttest_indResult(statistic=15.764886358526523, pvalue=7.247870600937806e-30)

What do you conclude from this test? Write your conclusions below.

In [ ]:
'''
How the pvalues is lower than 0.05 we can conclude that the their means are different. We can REJECT the null hypothesis which says their means are equal.
'''

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [30]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [50]:
pokemon.groupby('Type 1').agg({'Type 1': 'count'})

          Type 1
Type 1
Bug           69
Dark          31
Dragon        32
Electric      44
Fairy         17
Fighting      27
Fire          52
Flying         4
Ghost         32
Grass         70
Ground        32
Ice           24
Normal        98
Poison        28
Psychic       57
Rock          44
Steel         27
Water        112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [52]:
pokemon.groupby('Type 1')['Total'].describe()

          count        mean         std    min     25%    50%     75%    max
Type 1
Bug        69.0  378.927536  117.875223  194.0  269.00  395.0  475.00  600.0
Dark       31.0  445.741935  109.126217  220.0  359.00  465.0  510.00  680.0
Dragon     32.0  550.531250  146.267538  300.0  420.00  600.0  680.00  780.0
Electric   44.0  443.409091  105.721952  205.0  362.25  477.5  520.00  610.0
Fairy      17.0  413.176471  123.781680  218.0  323.00  405.0  483.00  680.0
Fighting   27.0  416.444444  102.464378  210.0  326.50  455.0  497.50  625.0
Fire       52.0  458.076923  109.760496  250.0  368.00  482.0  534.00  680.0
Flying      4.0  485.000000  161.400124  245.0  462.50  557.5  580.00  580.0
Ghost      32.0  439.562500  110.072685  275.0  335.00  464.5  495.75  680.0
Grass      70.0  421.142857  106.650626  180.0  318.50  430.0  497.00  630.0
Ground     32.0  437.500000  123.913081  265.0  329.50  440.0  512.25  770.0
Ice        24.0  433.458333  108.281027  250.0  305.00  467.5  526.25  580.0
Normal     98.0  401.683673  115.733038  190.0  302.50  415.0  481.50  720.0
Poison     28.0  399.142857   92.358687  245.0  323.75  401.5  490.00  535.0
Psychic    57.0  475.947368  139.026645  198.0  336.00  485.0  600.00  780.0
Rock       44.0  453.750000  108.059227  280.0  360.25  467.5  516.50  700.0
Steel      27.0  487.703704  115.420907  300.0  425.00  500.0  580.00  700.0
Water     112.0  430.455357  113.188266  200.0  328.75  455.0  502.25  770.0

In [59]:
pokemon1 = pokemon.groupby(pokemon["Type 1"] == 'Water')['Total'].describe().reset_index()
pokemon1

   Type 1  count        mean         std    min     25%    50%     75%    max
0   False  688.0  435.859012  121.091682  180.0  330.00  450.0  515.00  780.0
1    True  112.0  430.455357  113.188266  200.0  328.75  455.0  502.25  770.0

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [71]:
sample01 = pokemon[pokemon['Type 1'] == 'Water'].reset_index(drop=True)
sample02 = pokemon[pokemon['Type 1'] != 'Water'].reset_index(drop=True)

In [73]:
sample02 = sample02.sample(112,random_state=42).reset_index(drop=True)
sample01.shape, sample02.shape

((112, 13), (112, 13))

In [74]:
stats.ttest_ind(sample01['Total'], sample02['Total'], equal_var = True)

Ttest_indResult(statistic=-0.15286678872635695, pvalue=0.878642177419861)

Write your conclusion below.

In [ ]:
'''
The pvalue is higher than 0.05 again, so the mean values are equal. We can not REJECT the null hypothesis which says their means are equal.
'''

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [75]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Describe the results of the test in the cell below.

In [97]:
pokemon[['Attack', 'Defense']].describe()

           Attack     Defense
count  800.000000  800.000000
mean    79.001250   73.842500
std     32.457366   31.183501
min      5.000000    5.000000
25%     55.000000   50.000000
50%     75.000000   70.000000
75%    100.000000   90.000000
max    190.000000  230.000000

In [98]:
from scipy.stats import ttest_rel
ttest_rel(pokemon['Defense'], pokemon['Attack'])
'''
The pvalue is lower than 0.05, so the scores are different. We can reject the null hypothesis.
'''

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [104]:
pokemon[['Sp. Atk', 'Sp. Def']].describe()

          Sp. Atk     Sp. Def
count  800.000000  800.000000
mean    72.820000   71.902500
std     32.722294   27.828916
min     10.000000   20.000000
25%     49.750000   50.000000
50%     65.000000   70.000000
75%     95.000000   90.000000
max    194.000000  230.000000

In [99]:
from scipy.stats import ttest_rel
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [ ]:
'''
The pvalues is higher than 0.05, so we can not reject the null hypothesis that their scores are equal. The scores are equal.
'''

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [103]:
from scipy.stats import ttest_1samp
ttest_1samp(pokemon['Defense'] - pokemon['Attack'], 0)

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [107]:
pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == "Water")

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [114]:
from scipy.stats import chi2_contingency
pd.DataFrame(chi2_contingency(pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == "Water")))

                               0
0                        2.94292
1                      0.0862547
2                              1
3  [[632.1, 102.9], [55.9, 9.1]]

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
'''
The pvalue is higher than 0.05, so we can not REJECT the null hypothesis. The variables are dependents.
'''