# Before your start:
- Comment as much as you can
- Happy learning!

In [0]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [25]:
def counting(numbers):
    if len(numbers) == 0:
        return 'This list is empty'
    else:
        num = 0
        for i in numbers:
            num += 1
        return f'This list is not empty and it has: {num} numbers'   
list1 = [1, 2, 3]
counting(list1)

'This list is not empty and it has: 3 numbers'

Create a function that returns the mean of a list of numbers

In [29]:
def mean(x):
    import statistics
    y = statistics.mean(x)
    return ("The mean of the list is:", y) 
list1 = [1, 2, 3, 4, 5]
mean(list1)

('The mean of the list is:', 3)

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [31]:
def stdev1(x):
    import statistics
    y = statistics.stdev(x)
    return ("The standard deviation of the list is:", y) 
list1 = [10, 3, 76, 95, 2]
stdev1(list1)

('The standard deviation of the list is:', 44.70682274552733)

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [40]:
def all(numbers):
    '''We used statistics to calculate the mean and the standard deviation if the length 
    according tot he counter of the list is greater than 0 but if
    its not the code should print a message warning us.'''
    
    import statistics
    if len(numbers) == 0:
        return 'This list is empty'
    else:
        num = 0
        for i in numbers:
            num += 1
            y = statistics.mean(numbers) 
            z = statistics.stdev(numbers)
        return ("This list is not empty and it has:", num, "The standard deviation of the list is:", z, "and the mean is:", y)
list1 = [10, 3, 76, 95, 2]
all(list1)

('This list is not empty and it has:',
 5,
 'The standard deviation of the list is:',
 44.70682274552733,
 'and the mean is:',
 37.2)

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [82]:
string = "TOday is A special DaY!!!"
def clean(x):
    y = x.lower()
    import re
    z = re.findall('\w', y)
    return (''.join(sorted(z))) 
clean(string)

'aaaacddeiilopsstyy'

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [106]:
ages = [10, 5, 19, 24, 13, 45, 33]
def inc(x):
    y = sorted(x)
    return y
print("The data increasingly is:", inc(ages))

The data increasingly is: [5, 10, 13, 19, 24, 33, 45]

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [109]:
def ask(x):
    while x not in range(0, 151):
        x = int(input("We cant support this number... repeat please"))
    else:
        print("Thank you! This number is valid.")
y = int(input("What is your age?"))        
ask(y)

What is your age?10
Thank you! This number is valid.

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order  

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [150]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
def alphabetical_order(x):
    return ' '.join(sorted(x.split(', ')))
alphabetical_order(buzz)

'AI Big Data Data Warehouse Machine Learning Pipeline'

Make a function without return that modifies the buzz string and puts it in alphabetical order

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [160]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
def alphabetical_order():
    global buzz
    buzz =' '.join(sorted(buzz.split(', ')))
alphabetical_order()
buzz

'AI Big Data Data Warehouse Machine Learning Pipeline'

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [165]:
import pandas as pd

In [166]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

Expected output:

|    |   sepal_length |   sepal_width |   petal_length |   petal_width |
|---:|---------------:|--------------:|---------------:|--------------:|
|  0 |            5.1 |           3.5 |            1.4 |           0.2 |
|  1 |            4.9 |           3   |            1.4 |           0.2 |
|  2 |            4.7 |           3.2 |            1.3 |           0.2 |
|  3 |            4.6 |           3.1 |            1.5 |           0.2 |
|  4 |            5   |           3.6 |            1.4 |           0.2 |

In [174]:
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

Expected output:
````python
sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64
````

In [172]:
iris_numeric.mean()
# he took all values by the groups from the horizontal and made the mean.

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

Expected output:
````python
sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64
````

In [173]:
iris_numeric.std()
# he took all values by the groups from the horizontal and made the stdev.

sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [175]:
def cm_to_in(x):
    y = x*0.393701
    return y
print("The value in inches:", cm_to_in(1))

The value in inches: 0.393701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [189]:
iris_inch = []
for i in iris_numeric.sepal_length:
    z = cm_to_in(i)
    iris_inch.append(z)
    
iris_inch2 = []    
for i in iris_numeric.sepal_width:
    z = cm_to_in(i)
    iris_inch2.append(z)

iris_inch3 = []    
for i in iris_numeric.petal_length:
    z = cm_to_in(i)
    iris_inch3.append(z)

iris_inch4 = []    
for i in iris_numeric.petal_width:
    z = cm_to_in(i)
    iris_inch4.append(z)

lists  = [iris_inch, iris_inch2, iris_inch3, iris_inch4]
pd.DataFrame(lists)

,0,1,2,3,4,5,6,7,8,9
0,2.007875,1.929135,1.850395,1.811025,1.968505,2.125985,1.811025,1.968505,1.732284,1.929135
1,1.377954,1.181103,1.259843,1.220473,1.417324,1.535434,1.338583,1.338583,1.141733,1.220473
2,0.551181,0.551181,0.511811,0.590552,0.551181,0.669292,0.551181,0.590552,0.551181,0.590552
3,0.078740,0.078740,0.078740,0.078740,0.078740,0.157480,0.118110,0.078740,0.078740,0.039370

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [193]:
# Define constant below:
error = 2
def add_constant(x):
    global error 
    return(x + error)
add_constant(pd.DataFrame(iris_numeric))

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2
5           7.4          5.9           3.7          2.4
6           6.6          5.4           3.4          2.3
7           7.0          5.4           3.5          2.2
8           6.4          4.9           3.4          2.2
9           6.9          5.1           3.5          2.1

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [209]:
def max_value(x):
    y = iris_numeric.max(axis=1)
    return y
max_value(3)

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    4.6
7    5.0
8    4.4
9    4.9
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [212]:
c =iris_numeric.head()
c

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [217]:
length = iris_numeric[['sepal_length','petal_length']].apply(sum, axis=1)
length.head()

0    6.5
1    6.3
2    6.0
3    6.1
4    6.4
dtype: float64

In [216]:
width =  iris_numeric[['sepal_width','petal_width']].apply(sum, axis=1)
width.head()

0    3.7
1    3.2
2    3.4
3    3.3
4    3.8
dtype: float64