## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [81]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [82]:
numbers = []
for i in range(0,101):
    numbers.append(i)
print("All numbers:", numbers, "\n")
sample_list_1 = random.sample(numbers, 80)
print("The 80 numbers:", sample_list_1)

All numbers: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

The 80 numbers: [73, 48, 47, 53, 86, 96, 25, 20, 23, 21, 71, 44, 24, 10, 54, 39, 72, 32, 14, 55, 50, 9, 91, 38, 35, 64, 31, 79, 22, 65, 97, 49, 85, 6, 56, 89, 7, 34, 13, 58, 11, 78, 77, 46, 94, 15, 69, 100, 92, 37, 98, 88, 83, 18, 12, 95, 68, 51, 1, 90, 61, 60, 2, 42, 67, 52, 70, 63, 75, 36, 4, 93, 59, 19, 28, 30, 74, 33, 0, 62]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [83]:
set1 = set(sample_list_1)
print(set1)
print(len(set1))
# Still 80.

{0, 1, 2, 4, 6, 7, 9, 10, 11, 12, 13, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 42, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 83, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [84]:
sample_list_2 = []
for i in numbers:
    while len(sample_list_2) < 80:
        random.choice(numbers)
        sample_list_2.append(random.choice(numbers))
print("The sample list 2 is:", sample_list_2)

The sample list 2 is: [28, 49, 100, 84, 90, 52, 99, 22, 84, 37, 98, 78, 97, 54, 53, 50, 57, 10, 8, 42, 34, 38, 55, 34, 19, 53, 94, 63, 16, 76, 1, 100, 90, 61, 29, 93, 67, 9, 81, 27, 77, 67, 45, 78, 37, 80, 75, 90, 38, 73, 53, 70, 65, 79, 24, 22, 51, 68, 23, 14, 12, 36, 34, 31, 54, 68, 56, 87, 81, 22, 66, 23, 14, 46, 30, 91, 37, 47, 37, 84]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [85]:
set2 = set(sample_list_2)
print(set2)
print(len(set2))
# The length is not 80.

{1, 8, 9, 10, 12, 14, 16, 19, 22, 23, 24, 27, 28, 29, 30, 31, 34, 36, 37, 38, 42, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 61, 63, 65, 66, 67, 68, 70, 73, 75, 76, 77, 78, 79, 80, 81, 84, 87, 90, 91, 93, 94, 97, 98, 99, 100}
58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [86]:
set3 = []
set4 = []
for i in set1:
    if i not in set2:
        set3.append(i)
set3 = set(set3)         
print("set3 is:", set3, "and the length is:", len(set3))

set3 is: {0, 2, 4, 6, 7, 11, 13, 15, 18, 20, 21, 25, 32, 33, 35, 39, 44, 48, 58, 59, 60, 62, 64, 69, 71, 72, 74, 83, 85, 86, 88, 89, 92, 95, 96} and the length is: 35

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [87]:
for i in set2:
    if i not in set1:
        set4.append(i)
set4 = set(set4)         
print("set4 is:", set4, "and the length is:", len(set4))

set4 is: {66, 99, 8, 76, 45, 16, 80, 81, 84, 87, 57, 27, 29} and the length is: 13

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [88]:
set5 = []
for i in set1:
    if i in set2:
        set5.append(i)
set5 = set(set5)        
print("set5 is:", set5, "and the length is:", len(set5))

set5 is: {1, 9, 10, 12, 14, 19, 22, 23, 24, 28, 30, 31, 34, 36, 37, 38, 42, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 61, 63, 65, 67, 68, 70, 73, 75, 77, 78, 79, 90, 91, 93, 94, 97, 98, 100} and the length is: 45

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [89]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
58
35
13
45

#### Create an empty set called `set6`.

In [103]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [106]:
set6.update(set3, set5)
print("Set6:", set6)

Set6: {0, 1, 2, 4, 6, 7, 9, 10, 11, 12, 13, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 42, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 83, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}

#### Check if `set1` and `set6` are equal.

In [114]:
print("Set1:", set1, "\n")
print("Set6:", set6, "\n")
if set1 == set6:
    print("They are equal")

Set1: {0, 1, 2, 4, 6, 7, 9, 10, 11, 12, 13, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 42, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 83, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}

Set6: {0, 1, 2, 4, 6, 7, 9, 10, 11, 12, 13, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 42, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 83, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}

They are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [120]:
print("set1 contains set2?", set1.issubset(set2))
print("set1 contains set3?", set1.issubset(set3))

set1 contains set2? False
set1 contains set3? False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [124]:
agg1 = set.union(set3, set4, set5)
print(agg1, "\n")
agg2 = set.union(set1, set2)
print(agg2, "\n")
if agg1 == agg2:
    print("They are equal")

{0, 1, 2, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

{0, 1, 2, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

They are equal

#### Using the `pop` method, remove the first element from `set1`.

In [131]:
print("Set1:", set1)
set1 = list(set1)
print("The first element :", set1.pop(0))

Set1: [1, 2, 4, 6, 7, 9, 10, 11, 12, 13, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 42, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 83, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100]
The first element : 1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [146]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print("Set1:", set1, "\n")
list95 = []
for i in list_to_remove:
    if i not in set1:
        list95.append(i)
print("remaining items:", list95)

Set1: [2, 4, 6, 7, 10, 12, 13, 14, 15, 18, 20, 22, 23, 24, 25, 28, 30, 32, 33, 34, 35, 36, 37, 38, 42, 44, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 60, 62, 63, 64, 65, 67, 68, 70, 72, 73, 74, 75, 77, 78, 83, 85, 86, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100]

remaining items: [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]