## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [18]:
tup = ("I", )

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [19]:
type(tup)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [20]:
tup = ("I", )
tup = list(tup)
nome = ["r", "o", "n", "h", "a", "c", "k"]
for i in nome:
    tup.append(i)
print(tuple(tup))
# Explanation:

#First , i repeated the steps i did before to make sure i have all the informations. Then, i created a list called "nome" for
# avoid repeating lines to each element. After, i decided to use the for loop so it could add the elemts to the list tup.
# Finally , i changed it again to a tuple and i printed it.

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [24]:
tup = ("I", "r", "o", "n", "h", "a", "c", "k")
# i just used the same variable to group a new value

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [21]:
# Your code here
tup1 = tup[0:4]
print("here is the tup1:", tup1)
tup2 = tup[4:]
print("and here the tup2:", tup2)

here is the tup1: ['I', 'r', 'o', 'n']
and here the tup2: ['h', 'a', 'c', 'k']

In [32]:
tup[-4:]

('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [40]:
tup3 = tup1 + tup2
print(tuple(tup3))
if tuple(tup3) == tup:
    print("They are equal")

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
They are equal

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`.

In [88]:
print("Count tup1 :", len(tup1))
print("Count tup2 :", len(tup2))
print("The sum is:", len(tup1) + len(tup2))
print("The count of tup3 is also:", len(tup3))

Count tup1 : 4
Count tup2 : 4
The sum is: 8
The count of tup3 is also: 8

#### What is the index number of `"h"` in `tup3`?

In [89]:
# Your code here
print("The index number of H is:", tup.index("h"))

The index number of H is: 4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [96]:
tup3 = ('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
letters = ["a", "b", "c", "d", "e"]
counter = 0
for i in letters:
    if i in tup3:
        print(True, "The letter:", i, "is in tup3\n")
        counter +=1
    else:
        print(False, "The letter:", i, "is not in tup3\n")

True The letter: a is in tup3

False The letter: b is not in tup3

True The letter: c is in tup3

False The letter: d is not in tup3

False The letter: e is not in tup3

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [97]:
print(counter, "letters appear in tup3")

2 letters appear in tup3