![Ironhack logo](https://i.imgur.com/1QgrNNw.png)

# Lab | Numpy

## Introduction

An important ability of a data scientist/data engineer is to know where and how to find information that helps you to accomplish your work. In the exercise, you will both practice the Numpy features we discussed in the lesson and learn new features by looking up documentations and references. You will work on your own but remember the teaching staff is at your service whenever you encounter problems.

## Getting Started
There are a bunch of comments which instruct what you are supposed to do step by step. Follow the order of the instructions from top to bottom. Read each instruction carefully and provide your answer beneath it. You should also test your answers to make sure your responses are correct. If one of your responses is incorrect, you may not be able to proceed because later responses may depend upon previous responses.


## Resources

Some of the questions in the assignment are not covered in our lesson. You will learn how to efficiently look up the information on your own. Below are some resources you can find the information you need.

[Numpy User Guide](https://docs.scipy.org/doc/numpy/user/index.html)

[Numpy Reference](https://docs.scipy.org/doc/numpy/reference/)

[Google Search](https://www.google.com/search?q=how+to+use+numpy)

# Intrduction to NumPy


#### 1. Import NumPy under the name np.

In [3]:
import numpy as np

#### 2. Print your NumPy version.

In [4]:
np.__version__

'1.19.2'

#### 3. Generate a 3x2x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

**Example of output**:
````python
[[[0.29932768, 0.85812686, 0.75266145, 0.09278988, 0.78358352],
  [0.13437453, 0.65695946, 0.82047594, 0.09764179, 0.52230096]],
 
 [[0.54248247, 0.06431281, 0.65902257, 0.92736679, 0.3302839 ],
  [0.86867236, 0.33960592, 0.62295821, 0.74563567, 0.24351584]],
 
 [[0.21276812, 0.06917533, 0.35106591, 0.82273425, 0.7910178 ],
  [0.37768961, 0.56107736, 0.99965953, 0.97615549, 0.2445537 ]]]
````

In [5]:
a = np.random.random((3, 2, 5))
print(a)

[[[0.37882256 0.83211258 0.3262477  0.22752006 0.03354093]
  [0.02280331 0.05344291 0.38542655 0.31411973 0.3766961 ]]

 [[0.12849243 0.08439835 0.51137002 0.19895825 0.01728095]
  [0.07779238 0.65954814 0.62853313 0.93633416 0.76633362]]

 [[0.41408998 0.32494482 0.82249465 0.76824753 0.81888574]
  [0.1205786  0.06710745 0.3885754  0.19625923 0.46849209]]]

In [6]:
a = np.random.randn(3, 2, 5)
print(a)

[[[-1.0872648  -0.11435261 -0.49698213  0.61299993  0.06575829]
  [-0.38157843 -0.98372288  0.9808137  -0.18794044  1.07607017]]

 [[ 0.12386727  2.89203962 -0.99999377  0.02909936 -1.50257675]
  [ 1.40007348  1.00237633  1.10365979  1.71210928  0.84577839]]

 [[-1.56176618  1.90159183  1.01686144 -0.66218643  0.87776283]
  [-2.33834492  1.82909217  1.76036023  0.06043963 -1.30635546]]]

In [7]:
a = np.random.randint(5,size=[3,2,5])
print(a)

[[[4 1 2 0 2]
  [0 3 1 3 4]]

 [[2 1 4 1 3]
  [2 1 2 0 4]]

 [[0 3 2 4 1]
  [4 4 0 3 1]]]

In [8]:
a = np.random.ranf((3, 2, 5))
print(a)

[[[0.88040973 0.84795381 0.80855108 0.40411768 0.6934249 ]
  [0.5090352  0.89943105 0.60529135 0.97090797 0.55842064]]

 [[0.95843681 0.39732326 0.80524588 0.39619348 0.61697974]
  [0.59053314 0.1845323  0.70670214 0.95661585 0.46767846]]

 [[0.38813466 0.8758131  0.82596146 0.68382263 0.41485279]
  [0.02647475 0.07646197 0.41229742 0.81537234 0.05373194]]]

In [9]:
a = np.random.random_sample((3, 2, 5))
print(a)

[[[0.9803518  0.12972612 0.87540933 0.47966699 0.8115376 ]
  [0.99512095 0.88114921 0.37978084 0.83563009 0.47025945]]

 [[0.73544405 0.73939389 0.06924103 0.76733645 0.88559295]
  [0.47770877 0.56400073 0.5443756  0.57112305 0.56590893]]

 [[0.95530601 0.06149559 0.581325   0.9362009  0.4360219 ]
  [0.78147348 0.70171101 0.92625684 0.45875058 0.54976126]]]

#### 4. Print *a*.

In [10]:
print(a)

[[[0.9803518  0.12972612 0.87540933 0.47966699 0.8115376 ]
  [0.99512095 0.88114921 0.37978084 0.83563009 0.47025945]]

 [[0.73544405 0.73939389 0.06924103 0.76733645 0.88559295]
  [0.47770877 0.56400073 0.5443756  0.57112305 0.56590893]]

 [[0.95530601 0.06149559 0.581325   0.9362009  0.4360219 ]
  [0.78147348 0.70171101 0.92625684 0.45875058 0.54976126]]]

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

Expected output:

````python
      [[[1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1]]]
````

In [11]:
b = np.full(30, 1, np.int)
b = b.reshape(5, 2, 3)
print(b)

[[[1 1 1]
  [1 1 1]]

 [[1 1 1]
  [1 1 1]]

 [[1 1 1]
  [1 1 1]]

 [[1 1 1]
  [1 1 1]]

 [[1 1 1]
  [1 1 1]]]

In [12]:
b = np.ones((5, 2, 3))
print(b)

[[[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]]

#### 6. Print *b*.

In [13]:
print(b)

[[[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]]

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [14]:
a = np.random.random((3, 2, 5))
b = np.ones((5, 2, 3))

value1 = np.size(a)
value2 = np.size(b)
if value1 == value2:
     print(True)

True

In [15]:
value1 == value2

True

#### 8. Are you able to add *a* and *b*? Why or why not?

In [16]:
a = np.random.random((3, 2, 5))
b = np.ones((5, 2, 3))

a + b

ValueError: operands could not be broadcast together with shapes (3,2,5) (5,2,3)

In [ ]:
a = np.random.random((3, 2, 5))
b = np.ones((5, 2, 3))
np.add(a, b)

#### 9. Reshape *b* so that it has the same structure of *a* (i.e. become a 3x2x5 array). Assign the reshaped array to variable *c*.

Expected output:

````python
      [[[1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1]],

       [[1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1]],

       [[1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1]]]
````

In [17]:
b = np.ones((5, 2, 3))
c = b.reshape(3, 2, 5)
print(c)

[[[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]]

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

In [18]:
d = a + c
print(d)
# Its working because they have the same format/dimensions.

[[[1.00422158 1.44021277 1.08287269 1.97661259 1.57496878]
  [1.99207714 1.07368704 1.94573326 1.95188969 1.47487828]]

 [[1.5012024  1.31284817 1.50421096 1.95119769 1.46673215]
  [1.87766773 1.96386609 1.70678565 1.05218337 1.95948507]]

 [[1.28982271 1.40045797 1.41117119 1.90366446 1.09775773]
  [1.61485394 1.9399552  1.25007808 1.24650698 1.0188853 ]]]

In [19]:
d = np.add(a, c)
print(d)

[[[1.00422158 1.44021277 1.08287269 1.97661259 1.57496878]
  [1.99207714 1.07368704 1.94573326 1.95188969 1.47487828]]

 [[1.5012024  1.31284817 1.50421096 1.95119769 1.46673215]
  [1.87766773 1.96386609 1.70678565 1.05218337 1.95948507]]

 [[1.28982271 1.40045797 1.41117119 1.90366446 1.09775773]
  [1.61485394 1.9399552  1.25007808 1.24650698 1.0188853 ]]]

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [20]:
print(a)
print("-----------------------------------------------")
print(d)
# Yes. The array "d" is like the "a" subtracting 1 from all elements.

[[[0.00422158 0.44021277 0.08287269 0.97661259 0.57496878]
  [0.99207714 0.07368704 0.94573326 0.95188969 0.47487828]]

 [[0.5012024  0.31284817 0.50421096 0.95119769 0.46673215]
  [0.87766773 0.96386609 0.70678565 0.05218337 0.95948507]]

 [[0.28982271 0.40045797 0.41117119 0.90366446 0.09775773]
  [0.61485394 0.9399552  0.25007808 0.24650698 0.0188853 ]]]
-----------------------------------------------
[[[1.00422158 1.44021277 1.08287269 1.97661259 1.57496878]
  [1.99207714 1.07368704 1.94573326 1.95188969 1.47487828]]

 [[1.5012024  1.31284817 1.50421096 1.95119769 1.46673215]
  [1.87766773 1.96386609 1.70678565 1.05218337 1.95948507]]

 [[1.28982271 1.40045797 1.41117119 1.90366446 1.09775773]
  [1.61485394 1.9399552  1.25007808 1.24650698 1.0188853 ]]]

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [21]:
e = a * c
print(e)

[[[0.00422158 0.44021277 0.08287269 0.97661259 0.57496878]
  [0.99207714 0.07368704 0.94573326 0.95188969 0.47487828]]

 [[0.5012024  0.31284817 0.50421096 0.95119769 0.46673215]
  [0.87766773 0.96386609 0.70678565 0.05218337 0.95948507]]

 [[0.28982271 0.40045797 0.41117119 0.90366446 0.09775773]
  [0.61485394 0.9399552  0.25007808 0.24650698 0.0188853 ]]]

In [22]:
e = np.multiply(a, c)
print(e)

[[[0.00422158 0.44021277 0.08287269 0.97661259 0.57496878]
  [0.99207714 0.07368704 0.94573326 0.95188969 0.47487828]]

 [[0.5012024  0.31284817 0.50421096 0.95119769 0.46673215]
  [0.87766773 0.96386609 0.70678565 0.05218337 0.95948507]]

 [[0.28982271 0.40045797 0.41117119 0.90366446 0.09775773]
  [0.61485394 0.9399552  0.25007808 0.24650698 0.0188853 ]]]

#### 13. Does *e* equal to *a*? Why or why not?

In [23]:
print(a)
print("--------------------")
print(e)
# Yes. They are equal because we just multiplied "a" per 1 alternatively.

[[[0.00422158 0.44021277 0.08287269 0.97661259 0.57496878]
  [0.99207714 0.07368704 0.94573326 0.95188969 0.47487828]]

 [[0.5012024  0.31284817 0.50421096 0.95119769 0.46673215]
  [0.87766773 0.96386609 0.70678565 0.05218337 0.95948507]]

 [[0.28982271 0.40045797 0.41117119 0.90366446 0.09775773]
  [0.61485394 0.9399552  0.25007808 0.24650698 0.0188853 ]]]
--------------------
[[[0.00422158 0.44021277 0.08287269 0.97661259 0.57496878]
  [0.99207714 0.07368704 0.94573326 0.95188969 0.47487828]]

 [[0.5012024  0.31284817 0.50421096 0.95119769 0.46673215]
  [0.87766773 0.96386609 0.70678565 0.05218337 0.95948507]]

 [[0.28982271 0.40045797 0.41117119 0.90366446 0.09775773]
  [0.61485394 0.9399552  0.25007808 0.24650698 0.0188853 ]]]

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [24]:
d_max = np.max(d)
d_min = np.min(d)
d_mean = np.mean(d)
print(d_max)
print(d_min)
print(d_mean)

1.992077140692313
1.004221578097504
1.5328828890124129

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 3x2x5) as *d* using `np.empty`.

In [25]:
f = np.empty([3,2,5])
print(f)

[[[0.00422158 0.44021277 0.08287269 0.97661259 0.57496878]
  [0.99207714 0.07368704 0.94573326 0.95188969 0.47487828]]

 [[0.5012024  0.31284817 0.50421096 0.95119769 0.46673215]
  [0.87766773 0.96386609 0.70678565 0.05218337 0.95948507]]

 [[0.28982271 0.40045797 0.41117119 0.90366446 0.09775773]
  [0.61485394 0.9399552  0.25007808 0.24650698 0.0188853 ]]]

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [26]:
d_max = np.max(d)
d_min = np.min(d)
d_mean = np.mean(d)
print(d_max)
print(d_min)
print(d_mean)

1.992077140692313
1.004221578097504
1.5328828890124129

In [27]:
for i in range(3):
    for x in range(2):
        for y in range(5):
            
            if d[i,x,y] > d_min and d[i,x,y] < d_mean:
                f[i,x,y] = 25
                
            if d[i,x,y] > d_mean and d[i,x,y] < d_max:
                f[i,x,y] = 75
                
            if d[i,x,y] == d_mean:
                f[i,x,y] = 50
                
            if d_min == d[i,x,y]:
                f[i,x,y] = 0
                
            if d_max == d[i,x,y]:
                f[i,x,y] = 100 
                
print(f)

[[[  0.  25.  25.  75.  75.]
  [100.  25.  75.  75.  25.]]

 [[ 25.  25.  25.  75.  25.]
  [ 75.  75.  75.  25.  75.]]

 [[ 25.  25.  25.  75.  25.]
  [ 75.  75.  25.  25.  25.]]]

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
  [1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981]],

[[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042],
  [1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381]],

[[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
 [1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.  75.  75.  25.  75.]
  [ 75.  75.  25.  25.  25.]]

 [[ 75.  25.  75.  75.  75.]
  [ 25.  25.  25.  25. 100.]]

 [[ 75.  75.  75.  75.  75.]
  [ 25.  75.   0.  75.  75.]]]
```

In [28]:
print(d)
print("-----------------------------------------")
print(f)

[[[1.00422158 1.44021277 1.08287269 1.97661259 1.57496878]
  [1.99207714 1.07368704 1.94573326 1.95188969 1.47487828]]

 [[1.5012024  1.31284817 1.50421096 1.95119769 1.46673215]
  [1.87766773 1.96386609 1.70678565 1.05218337 1.95948507]]

 [[1.28982271 1.40045797 1.41117119 1.90366446 1.09775773]
  [1.61485394 1.9399552  1.25007808 1.24650698 1.0188853 ]]]
-----------------------------------------
[[[  0.  25.  25.  75.  75.]
  [100.  25.  75.  75.  25.]]

 [[ 25.  25.  25.  75.  25.]
  [ 75.  75.  75.  25.  75.]]

 [[ 25.  25.  25.  75.  25.]
  [ 75.  75.  25.  25.  25.]]]

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[['D' 'D' 'D' 'B' 'D']
  ['D' 'D' 'B' 'B' 'B']]

 [['D' 'B' 'D' 'D' 'D']
  ['B' 'B' 'B' 'B' 'E']]

 [['D' 'D' 'D' 'D' 'D']
  ['B' 'D' 'A' 'D' 'D']]]
```
**Note**: you don't have to use Numpy in this question.

In [35]:
f = f.astype('unicode_')
f[f == '0.0'] = 'A'
f[f == '25.0'] = 'B'
f[f == '50.0'] = 'C'
f[f == '75.0'] = 'D'
f[f == '100.0'] = 'E'
print(f)

[[['A' 'B' 'B' 'D' 'D']
  ['E' 'B' 'D' 'D' 'B']]

 [['B' 'B' 'B' 'D' 'B']
  ['D' 'D' 'D' 'B' 'D']]

 [['B' 'B' 'B' 'D' 'B']
  ['D' 'D' 'B' 'B' 'B']]]

## Additional Challenges for the Nerds

If you are way ahead of your classmates and willing to accept some tough challenges about Numpy, take one or several of the following Codewar *katas*. 	You need to already possess a good amount of knowledge in Python and statistics because you will need to write Python functions, do loops, write conditionals, and deal with matrices.

* [Insert dashes](https://www.codewars.com/kata/insert-dashes)
* [Thinkful - Logic Drills: Red and bumpy](https://www.codewars.com/kata/thinkful-logic-drills-red-and-bumpy)

In [220]:
import re
def Insert_dash(str):
    regex = "(?<=[13579])(?=[13579])"
    return re.sub(regex,'-', str)
str = "1745389"
print(Insert_dash(str))

1-745-389

In [246]:
red = 'red'
smooth = 'smooth'
def color_probability(color, texture):
    if color == 'red' and texture == 'smooth':
        return '0.10'
    if color == 'red' and texture == 'bumpy':
        return '0.57'
    if color == 'green' and texture == 'smooth':
        return '0.10'
    if color == 'green' and texture == 'bumpy':
        return '0.10'
    if color == 'yellow' and texture == 'smooth':
        return '0.10'
    if color == 'yellow' and texture == 'bumpy':
        return '0.10'
color_probability(red, smooth)

'0.10'